@import 'base';
@import 'vendor/normalize';
@import 'animate';

body {
  color: #222;
}
#canvas-container {
  max-height: 100%;
  max-width: 750px;
  overflow: auto;
  margin: 0 auto;
  box-shadow: 0 1px 15px 1px rgba(0,0,0,.5);
  canvas {
    background: url(../images/house.png) center bottom no-repeat,
                url(../images/bg.png) 0 0 repeat !important;
  }
}

.loading {
  background: url(../images/onmyway.png) center 10px no-repeat;
  height: 230px;
  width: 80%;
  position: absolute;

}

.game-spec {
  width: 200px;
  position: fixed;
  right: 0;
  background: #F0F0F1;
  height: 100%;
  padding: 15px;
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    color: #555;
  }
  .btn {
    border: 0;
    color: #fff;
    background: #12975E;
    padding: 8px 20px;
    margin: 1em 0;
    border-radius: 5px;
    &:disabled {
      background: #aaa;
    }
  }
}

.win {
  background: url(../images/win.png) center 20px no-repeat;
  height: 230px;
  width: 100%;
  position: absolute;
}